## For Api development
fastapi
uvicorn
python-multipart
fastapi_users
fastapi_users_db_sqlalchemy
ujson

## for Database integration
sqlalchemy
aiosqlite

## Api integration
python-dotenv
cloudinary


## Email messaging and handling
resend